# For loop

In [ ]:
#syntax:
for <local var> in <objectname>:
    Statements

In [1]:
# Print 0 to 5 
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [3]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [9]:
# print 10 20 30 .....90
for i in range(10,100,10):
    print(i,end=" ")

10 20 30 40 50 60 70 80 90

In [10]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [16]:
for i in range(0,51):
    if i%2==0:
        print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [17]:
# print multiple of 3 and 5 from 1 to 50
for i in range(1,51):
    if i%3==0 and i%5==0:
        print(i,end=" ")

15 30 45

In [19]:
# print vowels from given sentance
vowels = "aeiouAEIOU"
sentance = input("Enter a sentance:")
for i in sentance:
    if i in vowels:
        print(i,end=" ")

Enter a sentance:PYTHON IS SIMPLE PROGRSMMING LANGGUAGE
O I I E O I A U A E

In [30]:
# 5*1=5
# 5*2=10
#  ---
#---
# 5 *10=50
n = int(input("Enter a number:"))
for i in range(1,11):
    print(n ,"*",i,"=",n*i)

Enter a number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Data Structures in Python
- List
- Tuple
- Dictionaries

# Data Structures:
- store the data in particular object
- It will makes several operations will become simple
  - Sorting
  - searching
  - Store

# List In Python
- Its Common data structure in pyhton for storage
- List can be enclosed with in sqaure brackets []
- Every list item will separated with comma ,
- List can be changed.`

In [32]:
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [35]:
print(l[0])
print(l[1])
print(l[-5])

1
2
1

In [37]:
print(l[1:3])

[2, 3]

In [38]:
print(l[::-1])

[5, 4, 3, 2, 1]

In [39]:
print(l[-1::-1])

[5, 4, 3, 2, 1]

In [40]:
l = [1,2,3,4,5]
#update list
l[2]= 6
print(l)

[1, 2, 6, 4, 5]

In [41]:
l = [1,2,3,4,5]
#delete list
del l[-3]
print(l)

[1, 2, 4, 5]

In [43]:
del l[3]
print(l)

[1, 2, 4]