# Data Conversions:
- integer -int()
- string - str()
- float - float()

In [13]:
i = 2
print(i,type(i))
f = float(i)
print(f,type(f))
s = str(i)
print(s,type(s))

2 <class 'int'>
2.0 <class 'float'>
2 <class 'str'>

In [8]:
f = 1.2
print(f,type(f))
i = int(f)
print(i,type(i))
s = str(f)
print(s,type(s))

1.2 <class 'float'>
1 <class 'int'>
1.2 <class 'str'>

In [12]:
s = "123456"
print(s,type(s))
i = int(s)
print(i,type(i))
f = float(s)
print(f,type(f))

123456 <class 'str'>
123456 <class 'int'>
123456.0 <class 'float'>

# Input() Function
- Used to read the input value from the User

In [18]:
a = input("enter your name ")
print("my name is :",a)
print(type(a))

enter your name Ajay
my name is : Ajay
<class 'str'>

In [19]:
n =int(input("Enter a number:"))
print(n,type(n))

Enter a number:5
5 <class 'int'>

# Operators
- Arithmetic Operators
- Assignment Operators
- Comparision or Relational Operators
- Logical operators

# Arithmetic Operatos
+, - , , /, //, **,%

In [20]:
a = 10
b= 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

15
5
50
2.0
2
100000
0

# Assignment Operators
+=, -=, =, /=, %=, //=, *=

In [31]:
a = 10
b = 3
print('a = ',a,'b = ',b)
a += b # a = a +b
print('a = ',a,'b = ',b)
a -= b # a = a-b`
print('a = ',a,'b = ',b)
a *= b
print('a = ',a,'b = ',b)
a /= b
print('a = ',a,'b = ',b)
a //= b
print('a = ',a,'b = ',b)
a **= b
print('a = ',a,'b = ',b)

a =  10 b =  3
a =  13 b =  3
a =  10 b =  3
a =  30 b =  3
a =  10.0 b =  3
a =  3.0 b =  3
a =  27.0 b =  3

# Comparision or Relational Operators
- < > <= >= == !=
- It always returns the value as True or False

In [23]:
a = 10
b = 3
print('a < b',a < b)
print('a > b',a > b)
print('a <= b',a <= b)
print('a >= b',a >= b)
print('a == b',a == b)
print('a != b',a != b)

a < b False
a > b True
a <= b False
a >= b True
a == b False
a != b True

# Logical Operators
- and
    - Returns True if both Expressions/statements are true
- or
     - Returns True if one of the Expression/Statement is true
- not
     - Reverse the result, it means if a input is True and Output Will be False

In [24]:
x = 10
y = 20
res = x >= 10 and y >= 10
print(res)

True

In [25]:
x = 10
y = 20
res = x > 10 and y > 20
print(res)

False

In [26]:
x = 10
y = 20
res = x > 10 or y > 20
print(res)

False

In [27]:
x = 10
y = 20
res = x > 10 or y > 10
print(res)

True

# Control Flow Statements
- Conditional Statements
      - if - else
- Looping Statements
      - while
      - for

# Conditional Statements

- If the Condition is evaulated to True then the block of if statements will be executed otherwise then else block statements will be executed

In [ ]:
# syntex:
if Boolean_Condition :
        Statements
else:
        Statements

In [33]:
# Write a program to check even or odd
n = int(input("Enter a number"))
if n %2==0:
    print("Even Number")
else:
    print("Odd NUmber")

Enter a number8
Even Number

In [34]:
# Write a program to check given is multiples  of both 3 and 5
n = int(input("Enter a number"))
if n %3==0 and n%5==0:
    print("multiples  of both 3 and 5")
else:
    print("NO")

Enter a number15
multiples  of both 3 and 5

In [41]:
# Write a program to check given number positive ,negative or zero
n = int(input("Enter a number"))
if n>0:
    print("Positive number")
elif n<0:
    print("Negative Number")
else:
    print("Zero")

Enter a number0
Zero

In [ ]:
# Find the large number from the given 3 numbers